@font-face {
 font-family: "Montserrat-Regular";
 src: url("../fonts/montserrat/Montserrat-Regular.ttf") format("ttf"),
        url("../fonts/montserrat/Montserrat-Regular.woff") format("woff"),
          url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
            url("../fonts/montserrat/Montserrat-Regular.eot") format("eot");;
}

@font-face {
 font-family: "Raleway-Regular";
 src: url("../fonts/raleway/Raleway-Regular.ttf") format("ttf"),
        url("../fonts/raleway/Raleway-Regular.woff") format("woff"),
          url("../fonts/raleway/Raleway-Regular.woff2") format("woff2"),
            url("../fonts/raleway/Raleway-Regular.eot") format("eot");
}

@font-face {
 font-family: "Montserrat-Thin";
 src: url("../fonts/montserrat/Montserrat-Thin.ttf") format("ttf"),
        url("../fonts/montserrat/Montserrat-Thin.woff") format("woff"),
          url("../fonts/montserrat/Montserrat-Thin.woff2") format("woff2"),
            url("../fonts/montserrat/Montserrat-Thin.eot") format("eot");;
}

@font-face {
 font-family: "Raleway-Thin";
 src: url("../fonts/raleway/Raleway-Thin.ttf") format("ttf"),
        url("../fonts/raleway/Raleway-Thin.woff") format("woff"),
          url("../fonts/raleway/Raleway-Thin.woff2") format("woff2"),
            url("../fonts/raleway/Raleway-Thin.eot") format("eot");
}

@font-face {
 font-family: "Brand-Logo";
 src: url("../fonts/ewert/Ewert-Regular.ttf") format("ttf"),
        url("../fonts/ewert/Ewert-Regular.woff") format("woff"),
          url("../fonts/ewert/Ewert-Regular.woff2") format("woff2"),
            url("../fonts/ewert/Ewert-Regular.eot") format("eot");
}
