$main_font_size : 1.6rem;
$main_bg : linear-gradient(90deg, #ED5459 0%, #FD561F 100%);

// ------- colors
$red: #FD561F;
$brown: #4A4A4A;
$yellow: #FFF0DA;
$white: #FFFFFF;
$black: #404040;
$black-mid: #666666;
$maroon: #EEE7EF;
$orange: #FD561F;
$green: #3EE3CE;
$grey: #253B49;
$grey-light: #F9F9F9;
$orange-mid: #7F5F73;
$blue: #89BCDC;


$primary_color: $orange;
$primary_color_alternate: $grey;
$secondary_color: $white;
$secondary_color_alternate: $black;


// ------ fonts
$primary_font: 'Montserrat', sans-serif;
$secondary_font:  'Raleway', sans-serif;
