$main_font_size : 1.6rem;

// ------- colors
$red: #FD561F;
$brown: #4A4A4A;
$yellow: #FFF0DA;
$white: #FFFFFF;
$black: #404040;
$maroon: #EEE7EF;
$orange: #FD561F;


$primary_color: $orange;
$primary_color_alternate: $yellow;
$secondary_color: $white;
$secondary_color_alternate: $black;


// ------ fonts
$primary_font: 'Montserrat', sans-serif;
$secondary_font:  'Raleway', sans-serif;
