$main_font_size : 1.6rem;

// ------- colors
$red: #3D191A;
$brown: #4A4A4A;
$white: #ffffff;
$black: #000000;
$maroon: #e0bcbd;


$primary_color: $red;
$primary_color_alternate: $maroon;
$secondary_color: $white;
$secondary_color_alternate: $brown;


// ------ fonts
$primary_font: 'Montserrat', sans-serif;
$secondary_font:  'Raleway', sans-serif;
