$main-font-size : 1.6rem;

// ------- colors
$purple: #6C27A3;
$pink: #E83152;
$red: #C21717;
$brown: #3C454B;
$white: #ffffff;
$black: #000000;


$body_bg: $purple;
$main_bg: $pink;
$divider_bg: $brown;
