#about {
  margin-top: 11rem;
  background: $white;
  color: $secondary_color_alternate;
  .navbar {
    background: $main_bg;
  }
  h3 {
    font-size: 3rem;
    font-family: $secondary_font;
    text-transform: uppercase;
    margin-top: 5rem;
    color: $primary_color;
  }

  a.button {
    border: 2px solid $orange;
    color: $orange !important;
    margin-bottom: 2rem;
    &:hover {
      background: $orange;
      color: $white !important;
    }
  }
}
