.home {
  position: absolute;
  top: 40%;
  transform: translateX(-50%);
  width: 100%;
  left: 50%;
  .profile-name {
    font-size: 8rem;
  }
  .profile-desc {
    font-size: 3.6rem;
    color: $main_color;
  }
}
