#home {
  background-color: $grey-light;
  background-attachment: fixed;
  .profile {
    height: 65rem;
    line-height: 5rem;
    background-image: url('../images/melbourne.jpg');
    background-position: center;
    background-attachment: fixed;
    position: relative;
    color: $secondary_color!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(xs) {
      line-height:8rem;
    }
    .overlay {
      position: absolute;
      top:0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: $black-dark;
      opacity: 0.8;
    }
    .profile-name {
      @include fadeInDown();
      font-size: 5rem;
      font-family: $secondary_font;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      color: $primary_color;
      @include media-breakpoint-down(xs) {
        font-size: 3rem;
        line-height: 4rem;
        span {
          display: none;
        }
      }
      span {
        margin-right: 2rem;
      }
    }
    .profile-desc, .profile-location  {

      h6 {
        font-size: 3rem;
        @include media-breakpoint-down(xs) {
          font-size: 2rem;
          margin: 2rem;
          line-height: 3rem;
        }
      }
      h6,p {
        @include fadeInUp();
      }

    }
    .profile-location {
      p {
        font-style: italic;
      }
    }
  
  }

  .home-page-body {
    box-shadow: 0px 0px 10px $grey;
    background: $white;
    margin: auto;
    margin-top: -5rem;
    z-index: 999;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }




}
