#individual-projects {
  .navbar {
      background: $main_bg;
  }

  .individual-projects {
    @include fadeInUp();
    margin-top: 20rem;
    h4{
      font-size: 3rem;
      text-align: left;
      padding-left: 15px;
      @include media-breakpoint-up(sm) {
        margin-bottom: 8rem;
        font-size: 5rem;
        text-align: center;
        padding-left: 0px;
      }
    }
    div[class='image-*'] {
      max-width: 100%;
      box-shadow: 0px 0px 10px $grey;
      border: 1rem solid $white;
      border-radius: 1rem;

    }
    .individual-projects-about {
      text-align: left;
      margin-top: 2rem;
      @include media-breakpoint-up(sm) {
        margin-top: 5rem;
      }
      .image-container {
        padding-top: 0.5rem;
        div {
          transform: rotateY(-30deg) rotateX(5deg);
          transform-origin: left bottom;
          background-size: contain;
          background-repeat: no-repeat;
          height: 100%;
          @include media-breakpoint-down(sm) {
            margin: 5rem 0rem;
          }
          &.image-pad {
            margin-left: 10rem;
          }
          &.image-mobile {
            position: absolute;
            width: 10rem;
            left: 3rem;
            bottom: 3rem;
            background-position: bottom;

          }
        }
      }
      .about-container {
        p {
          margin-bottom: 2rem;
          color: $black;
        }
        h5 {
          color: $primary_color;

        }
        ul {
          margin-top: 1rem;
          @include media-breakpoint-up(sm) {
              margin-top: 2rem;
          }
          li {
            color: $black;
            line-height: 2.6rem;
          }
        }
      }

    }
    .individual-projects-screenshots {
      margin: 5rem 0rem;
      @include media-breakpoint-up(sm) {
        margin: 10rem 0rem;
      }
      text-align: right;
      .image-container {
        .image-desktop {
          height: 500px;
          width: 100%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          @include media-breakpoint-up(sm) {
            margin: 10rem 0rem;
          }
        }
      }
    }
  }

}



// #individual-projects {
//   .individual-projects {
//     transform-style: preserve-3d;
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     perspective: 1px;
//     overflow-x: hidden;
//     overflow-y: scroll;
//   }
//   .navbar {
//     background: $main_bg;
//   }
//   .header-wrapper {
//     margin-top: 11rem;
//     @include fadeInDown();
//     background: $white;
//     padding: 5rem;
//     width: 100%;
//     .image-container {
//       max-width: 60rem;
//       margin: 0 auto;
//       position: relative;
//       text-align: center;
//
//       .image-mobile {
//         position: absolute;
//         max-width: 15rem;
//         bottom: 0rem;
//         border-radius: 4px;
//         left: -5rem;
//       }
//       .image-pad {
//         position: absolute;
//         max-width: 30rem;
//         bottom: 0rem;
//         border-radius: 4px;
//         right: -5rem;
//       }
//       .image-desktop {
//         position: relative;
//         width: 100%;
//       }
//     }
//   }
//   a.button {
//     margin: 0 auto;
//   }
//
//   .individual-project-description {
//     transform: translateZ(-1px) scale(2);
//     position: absolute;
//     margin-top: 60vh;
//     width: 100%;
//     background: $main_bg;
//     .heading {
//       color: $white;
//       padding-top: 5rem;
//     }
//     h5{
//         margin: 2rem;
//     }
//     ul li {
//       color: $secondary_color;
//       font-size: 2.5rem;
//       font-family: $secondary_font;
//     }
//   }
// }
