#individual-projects {
  .image-wrapper {
    .image-container {
      max-width: 60rem;
      margin: 0 auto;
      position: relative;
      text-align: center;

      .image-mobile {
        position: absolute;
        max-width: 15rem;
        bottom: 0rem;
        border-radius: 4px;
        left: -5rem;
      }
      .image-pad {
        position: absolute;
        max-width: 30rem;
        bottom: 0rem;
        border-radius: 4px;
        right: -5rem;
      }
      .image-desktop {
        position: relative;
        width: 100%;
      }
    }
  }


  .individual-project-description {
    margin-top: 5rem;
  }
}
