#projects {
  min-height: 50rem;
  a.projects {
    margin: 10rem 0rem;
    text-decoration: none;
    display: block;
    .project-container {
      pointer-events: none;
      .project-description {
        text-align: center;
        .project-title {
          color: $primary_color_alternate;
          font-family: $secondary_font;
          font-size: 4rem;
          text-transform: uppercase;
        }
        .project-text {
          color: $white;
          font-family: $primary_font;
          font-size: 2.5rem;
        }
      }
      .project-image {
        padding: 0px;
        text-align: center;
        img {
          width: 75%;
          transform: rotateY(-30deg) rotateX(5deg);
        }
      }
    }

  }
}
