#projects {
  width: 100vw;
  margin-top: 11rem;
  .scroll-horizontal {
    position: absolute!important;
    >div  {
      height: 70%!important;
    }
  }
  a.projects {
    display: flex;
    width: 100vw;
    text-decoration: none;
    &.orange-lightest {
      background: $white;
    }
    &.orange-light {
      background: $black;
    }
    &.orange-mid {
      background: brown;
    }
    &.orange-dark {
      background: black;
    }
    &.orange-darkest {
      background: brown;
    }
    .project-container {
      pointer-events: none;
      .project-description {
        text-align: center;
        padding: 3rem;
        .project-title {
          color: $black;
          font-family: $secondary_font;
          font-size: 4rem;
          text-transform: uppercase;
        }
        .project-text {
          color: $black-mid;
          font-family: $primary_font;
          font-size: 2.5rem;
        }
      }
      .project-image {
        padding: 0px;
        text-align: center;
        img {
          width: 75%;
          transform: rotateY(-30deg) rotateX(5deg);
        }
      }
    }

  }
}
