#projects {
  width: 100vw;
  margin-top: 11rem;
  .scroll-horizontal {
    top:0px;
    position: absolute!important;
    >div  {
        height: 100% !important;
    }
  }
  a.projects {
    display: flex;
    width: 100vw;
    text-decoration: none;
    .project-title, .project-text {
      color: $white!important;
    }

    // &.orange-lightest {
    //   background: $white;
    // }
    // &.orange-light {
    //   background: $black;
    // }
    // &.orange-mid {
    //   background: brown;
    // }
    // &.orange-dark {
    //   background: black;
    // }
    // &.orange-darkest {
    //   background: brown;
    // }
    .project-container {
      pointer-events: none;
      .project-description {
        text-align: center;
        padding: 3rem;
        .project-title {
          color: $black;
          font-family: $secondary_font;
          font-size: 4rem;
          text-transform: uppercase;
        }
        .project-text {
          color: $black-light;
          font-family: $primary_font;
          font-size: 2.5rem;
        }
      }
      .project-image {
        padding: 0px;
        text-align: center;
        img {
          max-height: 50vh;
          width: 75%;
          transform: rotateY(-30deg) rotateX(5deg);
        }
      }
    }

  }
}

.scrollarea-content {
  overflow-x: scroll;
  transition: all 1s ease-in;
}

.prev {
  position: fixed;
  bottom:0;
  color:black;
}
.next {
  position: fixed;
  bottom:0;
  color:black;
  right: 0;
}
