button {
  background: transparent;
  border: none;
  position: relative;
  &:focus {
    outline: none!important;
  }
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    font-size: $main-font-size;
    font-family: $primary_font;
    text-transform: lowercase;
    border-radius: 5rem;
    border: 2px solid $primary_color;
    color: $primary_color!important;
    min-width: 200px;
    position: relative;
    transition: all 0.3s;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      text-decoration: none;
      background: linear-gradient(45deg, $primary_color, lighten($primary_color, 20%));
      color: $secondary_color!important;
      border: 2px solid $primary_color;
      .go-next {
        @include font-awesome();
        &:after {
          content: "\f178";
          margin-left: 1.5rem;
          position: absolute;
          top: 1.5rem;
          transition: 0.3s ease;
          opacity: 1;
        }
      }
    }
    .go-next {
      @include font-awesome();
      &:after {
        content: "\f178";
        position: absolute;
        opacity: 0;
        color: $secondary_color!important;
      }
    }
  }
}
