footer {
  background: $main_bg;
  font-family: inherit;
  height: 10rem;
  padding: 0rem 3rem;
  @include media-breakpoint-down(xs) {
    flex-direction: column;
    padding: 3rem;
  }
  p {
    color: $secondary_color;
  }
}
