.header {
  h3.heading {
    text-align: center;
    font-family: $secondary_font;
    text-transform: uppercase;
  }
  .caption {
    color: $secondary_color;
    font-size: 2rem;
    font-family: $primary_font;
    text-align: center;
  }
}
