.header {
  .jumbotron {
    background: linear-gradient(180deg, $main_bg, $red);
    margin-top: 10vh;
    margin-bottom: 0rem;
    border-radius: 0rem;
    .navbar {
      .nav-item {
        a {
          color: $white;
        }
      }
    }
    .profile-info {
      .profile-image {
        height: 10rem;
        img {
          width: 10rem;
          border-radius: 50%;
        }
      }
      .profile-name {
        margin-top:1rem;
      }
    }
  }
}
