.navbar {
  width: 100%;
  .navbar-brand {
    // background: $white;
    border-radius:50%;
    width:10rem;
    height:10rem;
    color: $primary_color;
    text-align: center;
    font-size: 5rem;
    line-height: 9rem;
    font-family: $primary_font;
  }
  .navbar-toggler {
    z-index: 1;
  }
  .navbar-collapse {
    &.show {
      position: absolute;
      background: $navigation_bg;
      height: 100vh;
      top: 0px;
      width: 100%;
      left: 0px;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .nav-link {
      color: $white;
      margin: 2vh;
      display: block;
      font-size: 5rem;
      text-align: center;
      cursor: pointer;
      font-family: $secondary_font;
      transition-timing-function: ease-in-out;
      transition-duration: 0.3s;
      text-transform: lowercase;
      &:hover {
        color: $secondary_color;
        transform: scale(1.1);
        background-color: rgba($primary_color, 0.2);
      }
    }
    ul {
      width: 100%;
      li {
        width: 100%;
      }
    }
    &.collapsing {
      -moz-transition : height 3s;
      -webkit-transition : height 3s;
      -o-transition : height 3s;
      transition : height 2s ease-in;
    }

  }
}
