.navbar {
  //background: $primary_color_alternate;

  width: 100%;
  position: fixed!important;
  top: 0;
  z-index: 1;
  .navbar-brand {
    background: $white;
    border-radius:50%;
    width:6rem;
    height:6rem;
    color: $primary_color;
    font-family: $primary_font;
    text-align: center;
    font-size: 3rem;
    line-height: 5rem;
    margin: 2rem;
  }
  .navbar-toggler {
    z-index: 1;
    padding: 0rem;
    &:hover {
      cursor: pointer;
      transform: rotate(180deg);
      transition: all 0.5s ease;
    }
    &:focus {
      img {
        transform: scale(0.7);
        transition: all 0.5s ease;
      }
    }
    &:focus {
      outline: none;
    }
  }
  .navbar-collapse {
    &.show {
      @include fadeInRightBig();
      position: absolute;
      background: $primary_color_alternate;
      height: 100vh;
      top: 0px;
      width: 100%;
      left: 0px;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .nav-link {
      color: $primary_color;
      margin: 2vh;
      display: block;
      font-size: 5rem;
      text-align: center;
      cursor: pointer;
      font-family: $secondary_font;
      transition-timing-function: ease-in-out;
      transition-duration: 0.3s;
      text-transform: lowercase;
      &:hover {
        color: $secondary_color_alternate;
        transform: scale(1.1);
        background-color: rgba($primary_color, 0.1);
      }
    }
    ul {
      width: 100%;
      li {
        width: 100%;
      }
    }
    &.collapsing {
      -moz-transition : height 3s;
      -webkit-transition : height 3s;
      -o-transition : height 3s;
      transition : height 2s ease-in;
    }

  }
}
