.navbar {
  background: transparent;
  height: 13rem;
  transition : height 0.2s ease-in-out;
  &.reduce-height {
    @include slideInDown();
    background: $main_bg;
    height: 10rem;
    .navbar-brand {
      padding: 5px;
      padding-left: 2rem;
    }
  }
  &.normal-height {
      @include fadeInUp();
      background: $main_bg;
  }
  .navbar-brand {
    padding: 2rem;
    img {
        width: 8rem;
        &:hover {
          border: 0.1rem solid $white;
          padding: 0.4rem;
          border-radius: 50%;
          box-shadow: 0px 0px 10px $white;
          transition : padding 0.1s ease-in;
        }
    }
  }
  .blog-link {
    color: $secondary_color;
    margin-left: -5rem;
  }
  .navbar-toggler {
    z-index: 1;
    padding: 0rem;
    transition: all 0.2s ease-in;
    .align-right-icon {
      color: $white;
      &:before {
        content: "\F038";
      }
    }
    &:hover {
      cursor: pointer;
      .align-right-icon {
        &:before {
          content: "\f039";
        }
      }
    }
    &:focus {
      transform: scale(0.9);
      outline: none;
    }
  }
  .navbar-collapse {
    &.show {
      @include fadeInRightBig();
      position: absolute;
      height: 100vh;
      top: 0px;
      width: 100%;
      left: 0px;
      z-index: 999;
      padding-top: 5rem;
      background: linear-gradient( 180deg, $black-dark, lighten($black-dark, 10%) );
      @include media-breakpoint-up(md) {
        background: linear-gradient( to right, transparent 20%, $black-dark 80%);
      }
    }
    .nav-link {
      color: $primary_color;
      padding: 2vh 10rem;
      display: block;
      font-size: 5rem;
      text-align: center;
      cursor: pointer;
      font-family: $secondary_font;
      transition-timing-function: ease-in-out;
      transition-duration: 0.3s;
      text-transform: capitalize;
      @include media-breakpoint-up(md) {
        text-align: right;
      }
      &:hover {
        color: $secondary_color;
      }
    }
    ul {
      width: 100%;
      li {
        width: 100%;
      }
    }
    &.collapsing {
      -moz-transition : height 3s;
      -webkit-transition : height 3s;
      -o-transition : height 3s;
      transition : height 2s ease-in;
    }
  }
}
