#home, #projects, .about, .contact {

}

#portfolio {
  overflow: hidden;
}

h3 {
  color: $white;
  font-size: 5rem;
  font-family: $secondary_font;
}


h4 {
  color: $primary_color_alternate;
  font-size: 3rem;
  font-family: $secondary_font;
}

.fadeInLeft {
  @include fadeInLeft();
}

.fadeInRight {
  @include fadeInRight();
}

.fadeOutDown {
  @include fadeOutDown();
}

.fadeInDown {
  @include fadeInDown();
}
