#home, #projects, .about, .contact {

}

#portfolio {
  overflow: hidden;
}

h3 {
  color: $secondary_color;
  font-size: 5rem;
  font-family: $secondary_font;
}


h4 {
  color: $primary_color;
  font-size: 3rem;
  font-family: $secondary_font;
  text-transform: uppercase;
}

h5 {
  color: $secondary_color;
  font-size: 2.5rem;
  font-family: $secondary_font;
}

h6 {
  color: $grey-light;
  font-size: 2rem;
  font-family: $primary_font;
}

p {
  font-family: $primary_font;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.fadeInLeft {
  @include fadeInLeft();
}

.fadeInRight {
  @include fadeInRight();
}

.fadeOutDown {
  @include fadeOutDown();
}

.fadeInDown {
  @include fadeInDown();
}
